{% extends 'base.html' %}
{% block content %}
<div class="row">
 <h3>Hello, {{ user.username }}. Let's play the game </h3>
</div>

{% block jumbotron %}
<div class="jumbotron">
		  <h3>Candy Manufacturing Company</h3>
		  <p>Welcome to the case simulation of candy manufacturing company, Let's Go Big. Here you'll get a first hand experience of running a company and learn how to manage team and be a good team player.</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
{% endblock %}


<div class="row"><div class="page-header"><h2>How to play<small> Easy to learn </small></h2></div></div>


	
<div class="row">
	  <div class="col-md-4">
		  <h3>Step 1 <span class="label label-default"></span></h3>
		  <p> Aditya Gupta is super coool youououou hdvljwhfg veigrhvbivhbhvpiu hbvpiuvh bvpiug bvpiuefgvre </p>
	  </div>
	 <div class="col-md-4">
			<h3>Step 2 <span class="label label-default"></span></h3>
			 <p> Aditya Gupta is super coool youououou hdvljwhfg veigrhvbivhbhvpiu hbvpiuvh bvpiug bvpiuefgvre </p>
	 </div>
	  <div class="col-md-4">
			<h3>Step 3 <span class="label label-default"></span></h3>
			 <p> Aditya Gupta is super coool youououou hdvljwhfg veigrhvbivhbhvpiu hbvpiuvh bvpiug bvpiuefgvre </p>
	  </div>
</div>

<div class="page-header"><h3>Meet The Team<small> They are the pillars </small></h3></div>

<div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="img/iima.png" alt="Image-Hugh">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="..." alt="Imgae-Scot">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="..." alt="Imgae-Scot">
	      <div class="caption">
	        <h3>Thumbnail label</h3>
	        <p>...</p>
	        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
	      </div>
	    </div>
	  </div>
</div>


{% endblock %}
    

