
{% load staticfiles %}
<head>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

</head>



{% include 'head_css.html' %}
    <body>
    {% if user.is_authenticated %}
    {% include 'new/navbar.html' %}

    {% else %}
    {% include 'new/home.html' %}
    {% endif %}



            {% block content %}
            {% endblock %}




{% include "javascript.html" %}

    <script>
    $(document).ready(function(){
        {% block jquery %}
        {% endblock %}
    });
    </script>
</body>

</html>