<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Stylish</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body" align="left"><p><b>Amit</b>: The first option is stylish covers. My opinion is that this is not what users want.</p>
      <p><b>Amit</b>: Andrei, did you not see all those executives in the Red Carpet Club at the airport? They love the individualized options.</p>
      <p><b>Amit</b>: Andrei's right, and my research into the matter corresponds well with his.</p>
      <p><b>Amit</b>: Ditto. I agree with Andrei and Lorenzo.</p>



      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Storage Capacity</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p><b>Amit</b>: Storage capacity is our next option again. I'm pessimistic on this option.</p>
      <p><b>Amit</b>: I bought several storage units last year, and every single person on my gift list just loved them. That's a statistically significant sample, if you ask me.</p>
      <p><b>Amit</b>: Consumer reports indicate that people are already worried about too much reliance on phones. This would just add to that.</p>
      <p><b>Amit</b>: I haven't decided which side of the fence to fall on yet, but I'm leaning toward leaving it out for negative demand reasons.</p>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Extended Battery</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p><b>Amit</b>: Our next option is a new battery that doubles talk and standby time. More is better! I am sure that this option will be a hit, and our numbers should reflect that.</p>
      <p><b>Amit</b>: Andrei is so right! Doubling the talk time means users won't have to worry about running out of battery during an important call. Delightful!</p>
      <p><b>Amit</b>: I disagree. Consumers, particularly men, who often keep phones in their pockets, hate the idea of extra weight. The advantages of the Extended Battery do not outweigh the disadvantages.</p>
      <p><b>Amit</b>: I am not very confident about the Extended Battery, but I can negotiate a consensus that we will all be happy with.</p>
    </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Durability</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body" align="left"><p><b>Amit</b>: The last feature is increased durability. No more worries about dropping the phone on the sidewalk or in the water. I love it.</p>
      <p><b>Amit</b>: Emotions and excitement aside, my forecasts predict this option will completely tank. I'm sure about that.</p>
      <p><b>Amit</b>: I'm not so bullish, but it would be nice if we could just reach an agreement here.</p>
      <p><b>Amit</b>: I like this option a lot!</p>
    </div>
    </div>
  </div>
</div>