{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-md-4">
<h1>Choose options </h1>
 <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
    {{ form|crispy }}
    <td><a href="{% url 'vendor:designupdate' id=1 %}">Update</a></td>  
    </form> 
  <a href = "{% url 'vendor:forcastupdate' id=1 %}"><h3>Submit the order</h3></a>
</div>
<div class=" col-md-8">
  <h3> Team analysis for design inputs(Bar Graph here) </h3> 
    <table class="table">

    <thead class="thead-default">
  

      <tr>
      
    
      <th>Employee</th>
      <th>Monthly </th>
      
      <th>Style</th>
      <th>Flavour</th>
      <th>Discount</th>
      <th>Marketing</th>
      </tr>
    
      <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_1 }}</th>
        
        <td>{{ item.monthly_demand_1 }}</td>
        
        <td>{{ item.monthly_demand_flavour_1 }}</td>
        <td>{{ item.monthly_demand_style_1 }}</td>
        <td>{{ item.monthly_demand_marketing_1 }}</td>
        <td>{{ item.monthly_demand_discount_1 }}</td>
        <!-- <td>{{ item.monthly_demand_style_average }}</td>
        <td>{{ item.monthly_demand_flavour_average }}</td>
        <td>{{ item.monthly_demand_discount_average }}</td> -->
        
    {% endfor %}

        
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
      </tr>
      <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_2 }}</th>
        
        <td>{{ item.monthly_demand_2 }}</td>
        
        <td>{{ item.monthly_demand_flavour_2 }}</td>
        <td>{{ item.monthly_demand_style_2 }}</td>
        <td>{{ item.monthly_demand_marketing_2 }}</td>
        <td>{{ item.monthly_demand_discount_2 }}</td>
        
    {% endfor %}
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
      </tr>
      <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_3 }}</th>
        
        <td>{{ item.monthly_demand_3 }}</td>
        
        <td>{{ item.monthly_demand_flavour_3 }}</td>
        <td>{{ item.monthly_demand_style_3 }}</td>
        <td>{{ item.monthly_demand_marketing_3 }}</td>
        <td>{{ item.monthly_demand_discount_3 }}</td>
        
    {% endfor %}
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
      </tr>
      <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_4 }}</th>
        
        <td>{{ item.monthly_demand_4 }}</td>
        
        <td>{{ item.monthly_demand_flavour_4 }}</td>
        <td>{{ item.monthly_demand_style_4 }}</td>
        <td>{{ item.monthly_demand_marketing_4 }}</td>
        <td>{{ item.monthly_demand_discount_4 }}</td>
        
    {% endfor %}

      </tr>
      </div>
      </thead>
      </table>


</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
<h3> Bar Graph here </h3>
<table class="table">

      <thead class="thead-default">
        
      <tr>
      
    
      <th>Value</th>
      <th>Average</th>
      <th>S-D </th>
      
       
      </tr> 

      <tr>
        
        

    {% for item in demand %}
        <th>Style</th>
        
        <td>{{ item.monthly_demand_style_average}}</td>
        <td>----</td>
    </tr>    
    <tr>    
        <th>Flavour</th>
        <td>{{ item.monthly_demand_flavour_average}}</td>
        <td>----</td>
        
    </tr>    
    <tr>    
        <th>Discount</th>
        <td>{{ item.monthly_demand_discount_average}}</td>
        <td>----</td>
        
    </tr>     
    <tr>    
        <th>Marketing</th>
        <td>{{ item.monthly_demand_marketing_average}}</td>
        <td>----</td>
        
    </tr> 
    {% endfor %}
    </div>    
   
  </thead>
  </table>


</div>
<div class="col-md-8">
<h2> Discussion </h2>
{% include 'new/collapse.html' %}
</div>
</div>
<div class="row">
<div class="col-md-12" align='center'>
<h1> More Cool graphs come here </h1>
</div>
</div>
<div class="row">
<div class="col-md-8" align='center'">
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>

</div>
<div class="col-md-4">
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>
<li>Alloo</li>

</div>
</div>

</div>




{% endblock content %}