{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<div class="row">
<div class="col-sm-8">
<h3> Forcast Room</h3>
<p> Congratulations, the design options for the two mobile phone lines have been specified. You will now have to predict the total demand for each product line.</p>

<p>Your forecasting team members have come up with a consensus for what they believe demand will be for the mobile phone lines.

However, the board of your company is interested in your personal estimates as well.</p>


<p>The numbers you will forecast after entering the forecasting room will not affect your production schedule, but they will help you later as you determine where and how to source your products.</p>
</div>
<div class="col-sm-4">
<h1>Submit your forcast<small>per month</small> </h1>
<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<input type='submit' class='btn btn-default' value='Submit' />
</form>
</div>
</div>

<div class='row'>
<h3> Unit Data with Option as chosen</h3>
<div class="col-md-8">   
<table class="table">
  <thead class="thead-default">
  

  <tr>
      
    
      <th>Unit Price</th>
      <th>Unit Cost</th>
      <th>Unit Profit</th>
      <th>Total Cost</th>
      
    </tr>


    
    <tr>
        
        

    {% for item in demandforcast %}
        <th>{{ item.unit_price }}</th>
        <th>{{ item.unit_cost }}</th>
        <th>{{ item.unit_profit }}</th>
        <th>{{ item.total_cost }}</th>
        
        
        
        
    {% endfor %}
        
</tr>
</thead>
</table>
</div>
</div>

<div class="row">
<div class="col-md-8">      
<h3> Team Forcast </h3>  
<table class="table">
  <thead class="thead-default">    
    </tr>  
    <tr>
      
    
      <th>Employee</th>
      <th>Monthly </th>
      
      <th>Style</th>
      <th>Flavour</th>
      <th>Discount</th>
      <th>Marketing</th>
    </tr>
    <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_2 }}</th>
        
        <td>{{ item.monthly_demand_2 }}</td>
        
        <td>{{ item.monthly_demand_flavour_2 }}</td>
        <td>{{ item.monthly_demand_style_2 }}</td>
        <td>{{ item.monthly_demand_marketing_2 }}</td>
        <td>{{ item.monthly_demand_discount_2 }}</td>
        
    {% endfor %}
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
    </tr>
    <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_3 }}</th>
        
        <td>{{ item.monthly_demand_3 }}</td>
        
        <td>{{ item.monthly_demand_flavour_3 }}</td>
        <td>{{ item.monthly_demand_style_3 }}</td>
        <td>{{ item.monthly_demand_marketing_3 }}</td>
        <td>{{ item.monthly_demand_discount_3 }}</td>
        
    {% endfor %}
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
    </tr>
    <tr>
        
        

    {% for item in demand %}
        <th>{{ item.employee_name_4 }}</th>
        
        <td>{{ item.monthly_demand_4 }}</td>
        
        <td>{{ item.monthly_demand_flavour_4 }}</td>
        <td>{{ item.monthly_demand_style_4 }}</td>
        <td>{{ item.monthly_demand_marketing_4 }}</td>
        <td>{{ item.monthly_demand_discount_4 }}</td>
        
    {% endfor %}
        
        <!-- <li><input type="checkbox" name="Malai">Malai</li> -->
      
      
    </tr>


    <tr>
      
    
      <th>Value</th>
      <th>Average</th>
      <th>S-D </th>
      
     
    </tr> 

    <tr>
        
        

    {% for item in demand %}
        <th>Style</th>
        
        <td>1241</td>
        <td>----</td>
        
    <tr>    
        <th>Flavour</th>
        <td>894</td>
        <td>----</td>
        
    </tr>    
    <tr>    
        <th>Discount</th>
        <td>1483</td>
        <td>----</td>
        
    </tr>     
    <tr>    
        <th>1</th>
        <td>{{ item.monthly_demand_marketing_average}}</td>
        <td>----</td>
        
    </tr> 
    {% endfor %}

    
   
  </thead>
  <tbody>
</tbody>
</table>  

</div>
</tr>
</thead>
</table>
</div>
</div>
</div>
</div>
</div>




{% endblock content %}