{% load staticfiles %}

{% block content %}
<link rel = 'stylesheet' href='{% static "css/base.css" %}'/>
<div class="container">
<div class="row">
<div class="col">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src='{% static "img/iima.png" %}' alt="IIMA" height="142" width="142" />
      <div class="caption">
        <h2>Golbal Supply Chain Management</h2>
        <p>...</p>
        <p><a href='{% url "account_login" %}' class="btn btn-primary" role="button">Play</a></p>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src='{% static "img/iima.png" %}' alt="IIMA" height="142" width="142" />
      <div class="caption">
        <h2>Marketing Strategy & ManagementCase</h2>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Play</a></p>
      </div>
    </div>
  </div>
</div>

<div class="col">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src='{% static "img/iima.png" %}' alt="IIMA" height="142" width="142" />
      <div class="caption">
        <h2>Logistic Strategy Case & Management</h2>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Play</a></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{%  endblock %}