{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Introduction | {{ block.super }}{% endblock title %}
{% block jquery %}

$(document).ready(function(){

$("h2").css({"font-style":"italic", "font-size":"175%", "color":"#696969"});
$("h3").css({"font-size":"175%", "color":"#008080"});
$("p").css("color", "#2F4F4F"); $("li").css("color", "#CD5C5C");$("li").css("font-style", "bold");$("small").css({"font-style":"italic", "color":"#696969"});
});
$('.carousel').carousel({
    interval: false
})


{% endblock %}


{% block content %}
<div class="container">
<div class="raw">
<h2> Introduction </h2>
<div class="col-md-8">
<h3> Introduction to play the game </h3>
<a href='{% static "img/PPT.pptx" %}' download> <h3>Download the play guide</h3> </a></li>
<p> <b>{{ user}}</b> When companies provide extensive product options, it makes predicting and fulfilling customer demand highly complex. This simulation illustrates how a few key decisions can improve the ability of a company to accurately predict and fulfill demand.</p>
</div>
<div class="col-md-4">

<a href="{% url 'vendor:team' %}" type="button" class="btn btn-primary btn-lg">Meet the Team</a>

</div>
</div>
<div class="row">
<div class="col-md-8" style="padding:30px;">
<h3>Problem facing supply chain managers</h3>
<p></p>
{% include 'new/sliderintro.html' %}
</div>
<div class="col-md-8" style="padding:30px;">
<h3>Your First Days as Supply Manager</h3>
<p> You will be the Supply Chain Manager responsible for production of two new lines of mobile phones. You will be able to make key decisions and see the impact of your decisions on the performance of your company. Learn more about the products and your required decisions by reading through Your First Day As Supply Chain Manager.</p>
{% include 'new/sliderintro1.html' %}
<p></p>
</div>


<div class="container" style="display: none;"">
  <h2>Report Table</h2>
  <p>Click on the button to export the report file</p>            
  <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th>Student Name</th>
        <th>Style</th>
        <th>Discount</th>
        <th>Flavour</th>
        <th>Marketing</th>
       
       </tr>
    </thead>
    <tbody>
      <tr>
      {% for user in users %}
        
        <td>{{ user.username }}</td>
        
     
        <td>{{ user.product.style }}</td>
        <td>{{ user.product.storage }}</td>
        <td>{{ user.product.extended_battery }}</td>
        <td>{{ user.product.durability }}</td>
        
        
        </tr>
        {% endfor %}

        </tbody>
        </table>

       <table id="demo" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
   

        <th>Student Name</th>
        <th>Vednor 1</th>
        <th>Start Month</th>
        <th>Vendor 2</th>
        <th>Start Month</th>
        <th>Vendor 3</th>
        <th>Start Month</th>
        <th>Demand Forcast</th>

        </tr>
    </thead>
    <tbody>
      <tr>
        {% for user in users %}
        
        <td>{{ user.username }}</td>
        
        <td>{{ user.vendor.monthly_order1 }}</td>
        <td>{{ user.vendor.start_month1 }}</td>
        <td>{{ user.vendor.monthly_order2 }}</td>
        <td>{{ user.vendor.start_month2 }}</td>
        <td>{{ user.vendor.monthly_order3 }}</td>
        <td>{{ user.vendor.start_month3 }}</td>
       
        
        <td>{{ user.forcast.forcast }}</td>
        
      </tr>         
        
        {% endfor %}
      </tbody>
      </table>
      </div>



{% endblock content %}