{% extends 'base.html' %}

{% block title %}Production | {{ block.super }}{% endblock title %}


{% block content %}
<div class="container">
<div class="raw">
<h1> Production Room </h1>
<div class="col-md-8">
<h2>Yearly Planning<small> Actual Demand|Actual Supply 	</small></h2>
<p> in thousands per month</p>
{% include 'new/slider.html' %} 
</div>
<div class="col-md-4">

<a href="{% url 'vendor:supply' %}"> <h1>Choose Suppliers </h1> </a></li>

</div>
</div>
<div class="row">
<div class="col-md-8">
<img src="img/logo.png" alt="..." class="img-thumbnail">
<img src="..." alt="..." class="img-thumbnail">
<img src="..." alt="..." class="img-thumbnail">
<img src="..." alt="..." class="img-thumbnail">
</div>
</div>
</div>







{% endblock content %}