



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <h4> Be incisive </h4>
    <p> Remember, you can only change production from suppliers that you selected at the beginning of the year, you cannot begin production with a supplier once the production schedule has started. Go ahead and place your orders in the Production Room.
    </p>

    </div>
     <div class="item">
    <h4> Lead Time </h4>
    <p> Keep in mind that the Lead Time will affect the availibilty of the product to the consumers. You need to be making a decision based on the quality. Saving on cost is the prime objective.
    </p>
    </div>


    <div class="item">
      <h4> Capacity </h4>
    <p>If the vendor does't offer enough capacity you'll have to choose a different vendor.
    </p>
    </div>
    <div class="item">
      <h4> Starting Month </h4>
    <p> Not every month will have the same sales growth so make your decision with starting month of the vendor in mind. Plan ahead.
    </p>
    </div>


  </div>

  <!-- Left and right controls -->
  <a href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a  href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>