



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <h4> New Product </h4>
    <p>
    Our product is relatively new, this is a challenge because the growth is still not certain. Although the team makes an estimate but that may not work accurately.
    </p>

    </div>
     <div class="item">
    <h4> Packaging Issue </h4>
    <p>
    Althought the product has been received well but there has been an issue with the current packaging. Earlier, due to smaller demand we had to pick a poor packaging option. Changing the packaging may be neccessary.
    </p>
    </div>


    <div class="item">
      <h4> Price </h4>
    <p>
    Similar to packaging, the price was also higher because of higher cost due to lower demands. Leveraging the high demand, we can go for go for better vendors. This may give us a chance to offer a lower price.
    </p>
    </div>
    <div class="item">
      <h4> New Flavour </h4>
    <p>
    Starting a new flavour is an option to increase the sales but this also may backfire and confuse the consumers. We need to get the idea that our new brand still needs to be established.
    </p>
    </div>


  </div>

  <!-- Left and right controls -->
  <a href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a  href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>