

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" ></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <h3> Welcome </h3>
    <p>
    Welcome to your yearly board meeting. This would have been a difficult journey for you but you have done a good job. Let's see how the board feels about your performance this year. The meeting with board can get tough sometime, don't be hard on yourself if the board isn't happy with your performance.
    </p>

    </div>
     <div class="item">
    <h3> Jason </h3>
    <p>
    You get my vote. Congratulations. Just like last year, you have been doing a great job on evaluating options based on more than the consensus data. You seem to understand which forecasting data are most relevant in predicting the future demand and profitability of an option. I vote yes.
    </p>
    </div>


    <div class="item">
      <h3> Ron </h3>
    <p>
    Congratulations. My vote is behind you. I think your choices in regards to which option to choose are consistently well thought out. You seem to understand that the predictability of demand and profitability is negatively influenced by choosing certain risky options.</p>
    </div>
    <div class="item">
      <h3> Max </h3>
    <p>
    I am not sure whether you have developed a sound strategy about production volumes for each model. I will withhold my board vote for now and see how well you do next year. Excess inventory costs (or markdown costs) and the costs of stocking out of a model all need to be part of your calculations.
    </p>
    </div>


  </div>

  <!-- Left and right controls -->

  <a  href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>