

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
    <li data-target="#myCarousel1" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
    <h4> New Product </h4>

    <p>
    Our product is relatively new, this is a challenge because the growth is still not certain. Although the team makes an estimate but that may not work accurately.
    </p>

    </div>
     <div class="item">
    <h4> Improving supply channels </h4>
    <p>
    Although the company managed to do fine with the earlier supply channels, those channels were far from perfect. We should look for better channels and setup a benchmark for improved supply chain.
    </p>
    </div>


    <div class="item">
      <h4> Understanding the team </h4>
    <p>
    Your team works hard to get the required information. You'll have to be smart in getting the imputs from them and turn them into good bussiness decisions. There will be times when there will disagreements among the team members, you'll have to use your judgement to get the best out of teh avilable information.
    </p>
    </div>
    <div class="item">
      <h4> Board Meeting </h4>
    <p>
    StaWhen the board meeting ends, return to the Design Room to start the next year. You will repeat the cycle of design, forecasting, production, and board evaluation for four years. At the end of the simulation, you'll be a rich and successful business person...or out of a job. Good luck!
    </p>
    </div>


  </div>

  <!-- Left and right controls -->
  <a href="#myCarousel1" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a  href="#myCarousel1" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>